.header-dropdown{
  position: absolute;
  top: 100%;
  left: 0;
  right: 1px;
  background-color: #fff;
  width: 100%;
  max-width: 220px;
  min-width: 120px;
  padding: 10px 15px;
  box-shadow: 0 4px 5px rgb(0 0 0 / 20%);
  z-index: 2;

  visibility: hidden;
  opacity: 0;
  @include transition;

  @include tablet-and-mobile {
    min-width: 140px;
  }

  ._opened &{
    visibility: visible;
    opacity: 1;
  }

  &__item {
    height: 35px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #bfbfbf;
    &:last-child{
      border-bottom: 0 none;
    }
  }

  &__link {
    color: $color-gray-dark;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    display: block;

    @include tablet-and-mobile {
      font-size: 16px;
      line-height: 20px;
    }

    &:hover {
      color: $color-black;
    }
  }
}