.header-profile{
  display: flex;
  align-items: center;

  &__photo {
    width: 50px;
    height: 50px;
    background: $color-gray-dark;
    border-radius: 50%;

    @include tablet-and-mobile {
      flex: 0 0 50px;
    }
  }

  &__wrapper{
    margin-left: 10px;
    position: relative;
  }

  &__name {
    font-weight: bold;
    display: block;
    cursor: pointer;
    font-size: 14px;
    color: $color-gray-dark;
    padding-right: 25px;

    &:after {
      content: '';
      @include triangle(15px, down, $color-gray-dark);
      position: absolute;
      right: 0;
      @include align(false, true);
    }

    @include transition;

    &:hover {
      opacity: .85;
    }
  }
}