.modal {
  background: #707070;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.59);
  border: 1px solid #E60A17;
  border-radius: 4px;
  padding: 20px 20px 40px;
  color: $color-white;
  text-align: center;
  position: relative;

  &__close {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 10px;
    border: 1px solid $color-white;
    border-radius: 50%;
    @include transition;

    @include mobile {
      width: 30px;
      height: 30px;
    }

    &:before, &:after {
      content: '';
      position: absolute;
      width: 1px;
      height: 30px;
      background: $color-white;
      left: 50%;
      top: 50%;
      @include transition;

      @include mobile {
        height: 20px;
      }
    }

    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &:hover{
      background: $color-white;
      &:before, &:after{
        background: $color-gray-dark;
      }
    }
  }

  &__title {
    display: block;
    font-weight: bold;
    font-size: 24px;

    @include mobile {
      font-size: 20px;
    }
  }

  &__text {
    font-weight: bold;
    margin-top: 10px;
    display: block;

    @include mobile {
      font-size: 13px;
    }
  }

  &__button {
    margin-top: 40px;
  }

  &__body{
    margin-top: 30px;
  }
}