.newsfeed {
  &__author {
    display: flex;
    align-items: center;
    line-height: 18px;
    padding-bottom: 15px;
    border-bottom: 1px solid #bfbfbf;
  }

  &__avatar {
    width: 50px;
    height: 50px;
    background: $color-gray-dark;
    border-radius: 50%;
    margin-right: 10px;
  }

  &__name {
    display: block;
    font-weight: bold;
  }

  &__position {
    display: block;
  }

  &__date {
    display: block;
    color: $color-gray-dark;
  }

  &__title {
    display: block;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #bfbfbf;
    padding: 10px 0;
  }

  &__text {
    padding: 10px 0;
    border-bottom: 1px solid #bfbfbf;
  }

  &__actions {
    padding: 10px 0 0 0;
    display: flex;
    align-items: center;
  }

  &__action {
    &:not(:first-child) {
      margin-left: 40px;
    }

    color: #BFBFBF;
    font-weight: bold;
    padding-left: 40px;
    position: relative;
    height: 30px;
    display: flex;
    align-items: center;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      display: block;
      @include transition;
    }

    &--thumb:before {
      @include sprite('thumb');
    }

    &--comment:before {
      @include sprite('comment');
    }

    @include transition;

    &:hover {
      opacity: 0.85;
      &:before{
        opacity: 0.85;
      }
    }
  }
}