.schema-select {
  width: 350px;
  margin: 0 auto;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(6, 1fr);
  position: relative;

  @include mobile {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  &__item {
    height: 50px;
    border-radius: 4px;
    border: 1px solid $color-white;
    display: block;

    &:nth-child(1) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 1;
    }

    &:nth-child(2) {
      grid-column-start: 3;
      grid-column-end: 7;
      grid-row-start: 1;
      grid-row-end: 1;
    }

    &:nth-child(3) {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 2;
    }

    &:nth-child(4) {
      grid-column-start: 4;
      grid-column-end: 7;
      grid-row-start: 2;
      grid-row-end: 2;
    }

    &:nth-child(5) {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 3;
      grid-row-end: 3;
    }

    &:nth-child(6) {
      grid-column-start: 5;
      grid-column-end: 7;
      grid-row-start: 3;
      grid-row-end: 3;
    }

    @include mobile {
      &:nth-child(n) {
        grid-column-start: auto;
        grid-column-end: auto;
        grid-row-start: auto;
        grid-row-end: auto;
      }
    }
  }
}