.catalog-card {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__left {
    flex: 1;
    display: flex;
    align-items: center;
  }

  &__image {
    position: relative;
    flex:  0 0 26px;
    height: 37px;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-left: 13px;

    @include mobile {
      font-size: 16px;
      line-height: 20px;
      margin-left: 10px;
    }
  }

  &__right {
    margin-left: 15px;
  }

  &__download {
    img {
      min-width: 30px;
      height: 30px;
      opacity: .4;

      @include mobile {
        min-width: 20px;
        height: 20px;
      }
    }

    &:hover {
      img {
        opacity: 1;
      }
    }
  }
}