.contact-card {
  text-align: center;
  padding: 27px 19px 52px;
  background: $color-gray-light;

  &__image {
    position: relative;
    width: 100px;
    height: 100px;
    background: $color-gray-300;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 30px;

    img {
      position: absolute;
      max-width: 100%;
      height: auto;
      object-fit: cover;
      vertical-align: middle;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.085em;
    text-transform: uppercase;
  }

  &__subtitle {
    margin-top: 25px;

    p {
      font-size: 18px;
      line-height: 20px;
      text-transform: uppercase;
      color: $color-primary;

      &:not(:first-child) {
        margin-top: 5px;
      }
    }
  }

  &__info {
    margin-top: 15px;

    p {
      font-size: 14px;
      line-height: 21px;
    }

    a {
      color: $color-primary;
    }
  }
}