.review-card {
  display: flex;
  padding-bottom: 25px;
  border-bottom: 1px solid $color-gray-500;

  @include mobile {
    flex-direction: column;
  }

  &__left {
    flex: 1 1 25%;
    max-width: 25%;

    @include mobile {
      flex: auto;
      max-width: none;
    }

    &-image {
      position: relative;
    }
  }

  &__center {
    flex: 1 1 50%;
    max-width: 50%;
    margin-left: 60px;

    @include tablet-and-mobile {
      margin-left: 30px;
    }

    @include mobile {
      flex: auto;
      max-width: none;
      margin-left: 0;
    }

    &-title {
      font-weight: bold;
      font-size: 17px;
      line-height: 1.65;
      margin-bottom: 8px;

      span {
        text-transform: uppercase;
        color: $color-primary;
      }
    }

    &-text {
      p {
        font-size: 16px;
        line-height: 1.65;
        margin-bottom: 16px;
      }
    }

    &-downloads {
      margin-top: 40px;
      display: flex;
      justify-content: flex-end;

      @include mobile {
        justify-content: flex-start;
      }

      &-links {
        display: flex;
        flex-direction: column;
      }
    }

    &-download {
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
      color: $color-primary;

      &:not(:first-child) {
        margin-top: 7px;
      }

      img {
        width: 20px;
        height: 20px;
        opacity: .4;
        margin-right: 10px;
      }
    }
  }

  &__right {
    flex: 1 1 25%;
    max-width: 25%;
    margin-left: 60px;

    @include tablet-and-mobile {
      margin-left: 30px;
    }

    @include mobile {
      margin-left: 0;
      margin-top: 30px;
    }

    &-user {
      display: flex;

      &-image {
        position: relative;
        flex:  0 0 50px;
        height: 50px;
        border-radius: 50%;
        background: $color-gray-dark;

        img {
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }

      &-info {
        margin-left: 20px;
      }

      &-name {
        font-weight: bold;
        font-size: 16px;
        line-height: 1.65;
      }

      &-department {
        font-size: 16px;
        line-height: 1.65;
      }

      &-date {
        font-size: 16px;
        line-height: 1.65;
      }
    }
  }
}