.catalog {
  &__header {
    display: flex;
    align-items: center;
    height: 35px;
    padding: 0 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    border-radius: 4px;
    background-color: $color-primary;
    color: $color-white;
  }

  &__list {
    padding: 20px 10px 5px;
    border: 1px solid $color-gray-400;
    border-radius: 4px;
    margin-top: 4px;

    &-item {
      &:not(:first-child) {
        margin-top: 15px;
      }
    }

    &-title {
      padding: 4px 0;
      font-size: 18px;
      line-height: 22px;
      text-transform: uppercase;
      border-top: 1px solid $color-gray-dark;
      border-bottom: 1px solid $color-gray-dark;
      color: $color-black;

      @include mobile {
        font-size: 16px;
        line-height: 20px;
      }
    }

    &-card {
      padding: 9px 20px 7px;
    }
  }
}