.dashboard {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(6, 1fr);
  position: relative;
  min-height: calc(100vh - 320px - 50px - 33px);

  @include mobile {
    grid-template-columns: repeat(1, 1fr);
  }

  > * {
    &:nth-child(1) {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 1;

      @include tablet-and-mobile {
        grid-column-end: 4;
      }
    }

    &:nth-child(2) {
      grid-column-start: 5;
      grid-column-end: 7;
      grid-row-start: 1;
      grid-row-end: 1;

      @include tablet-and-mobile {
        grid-column-start: 4;
      }
    }

    &:nth-child(3) {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 2;
    }

    &:nth-child(4) {
      grid-column-start: 4;
      grid-column-end: 7;
      grid-row-start: 2;
      grid-row-end: 2;
    }

    @include mobile {
      &:nth-child(n) {
        grid-column-start: auto;
        grid-column-end: auto;
        grid-row-start: auto;
        grid-row-end: auto;
      }
    }
  }

  &--setup {
    min-height: auto;
  }

  &__button {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    .btn {
      min-width: 265px;
    }
  }
}