.first-time {
  min-height: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    @include font(24px, 100%, bold);
  }

  &__text {
    font-weight: bold;
    max-width: 405px;
    margin: 30px auto 0;
  }

  &__button {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    .btn{
      min-width: 265px;
    }
  }
}