.for-success {
  &__intro {
    display: flex;

    @include mobile {
      flex-direction: column;
    }

    &-image {
      flex: 0 0 280px;

      @include mobile {
        flex: auto;
      }
    }

    &-content {
      margin-left: 60px;

      @include tablet-and-mobile {
        margin-left: 30px;
      }

      @include mobile {
        margin-top: 20px;
        margin-left: 0;
      }

      h1, h2, h3, h4, h5, h6 {
        font-weight: 900;
        font-size: 45px;
        line-height: 50px;
        text-transform: uppercase;
        margin-bottom: 8px;

        @include mobile {
          font-size: 35px;
          line-height: 40px;
        }
      }

      p {
        font-size: 16px;
        line-height: 1.65;
        margin-bottom: 16px;
      }
    }
  }

  &__main {
    margin-top: 25px;
    border-top: 1px solid $color-gray-500;
  }

  &__filters {
    display: flex;
    flex: 1 1 50%;
    max-width: 50%;

    @include tablet-and-mobile {
      flex: 1 1 100%;
      max-width: 100%;
    }
  }

  &__filter {
    width: 100%;
    margin-right: 80px;

    @include tablet-and-mobile {
      margin-right: 0;

      &:not(:first-child) {
        margin-left: 50px;
      }
    }

    @include mobile {
      &:not(:first-child) {
        margin-left: 20px;
      }
    }

    &-title {
      font-size: 16px;
      line-height: 1.65;
      margin-bottom: 8px;
    }

    &-select {
      width: 100%;
      height: 22.5px;
      padding: 0 3px;
      font-size: 16px;
      border: 1px solid $color-gray-dark;
      border-radius: 3px;
      appearance: auto !important;
    }
  }

  &__cards {
    margin: 25px 0;
  }

  &__card {
    padding: 0 30px;

    @include tablet-and-mobile {
      padding: 0;
    }

    &:not(:first-child) {
      margin-top: 25px;
    }
  }
}