.page-calendar {
  &__group {
    position: relative;

    @include tablet-and-mobile {
      padding-top: 60px;
    }

    &:not(:first-child) {
      margin-top: 10px;

      @include tablet-and-mobile {
        margin-top: 20px;
      }
    }
  }

  &__item {
    position: relative;
    display: grid;
    gap: 30px;
    grid-template-columns: 2fr 1fr;

    @include tablet-and-mobile {
      grid-template-columns: 1fr;
    }

    &:not(:first-child) {
      margin-top: 10px;
    }

    &-month {
      position: relative;

      @include tablet-and-mobile {
        position: absolute;
        top: -70px;
        width: 100%;
      }
    }

    &-name {
      position: absolute;
      top: 0;
      left: 0;
      color: #BFBFBF;
      font-size: 34px;
      line-height: 120%;
      display: block;
      font-weight: bold;

      @include tablet-and-mobile {
        font-size: 25px;
      }
    }

    &-week {
      width: 100%;
      position: absolute;
      top: 45px;
      left: 0;
      border-top: 1px solid #BFBFBF;
      padding: 10px 5px;
      font-weight: bold;
      color: #707070;

      @include tablet-and-mobile {
        top: 30px;
      }
    }
  }
}