.who-is-who {
  &__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 30px;

    @media (max-width: 640px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 15px;
    }
  }

  &__field {
    display: flex;
    flex-direction: column;

    &-title {
      font-size: 16px;
      line-height: 1.65;
    }

    &-select {
      display: none;
    }

    &-input {
      padding: 6px 12px;
      height: 38px;
      font-size: 16px;
      line-height: 1.5;
      color: $color-gray-200;
      border: 1px solid $color-gray-100;
      background: $color-white;
    }

    .select2 {
      width: 100% !important;
      display: block;

      &-selection {
        width: 100%;
        display: block;

        &__rendered {
          cursor: text;
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          background: $color-white;
          border: 1px solid $color-gray-100;
          box-sizing: border-box;
          min-height: 38px;
          padding: 0 5px;
          position: relative;
        }

        &__arrow {
          display: none;
        }

        &__choice {
          font-size: 18px;
          line-height: 25px;
          background-color: $color-gray-700;
          border: 1px solid $color-gray-100;
          border-radius: 4px;
          cursor: default;
          margin: 2.5px 5px 2.5px 0;
          padding: 0 5px;

          &__remove {
            cursor: pointer;
            margin-right: 2px;
            color: $color-gray-800;
          }
        }
      }

      &-search {
        &__field {
          font-size: 18px;
          line-height: 25px;
          background: transparent;
          border: none;
          outline: 0;
        }
      }

      &-container {
        &--focus {
          .select2-selection__rendered {
            border-color: $color-black;
          }
        }
      }
    }
  }

  &__contacts {
    margin-top: 10px;
  }

  &__contact {
    &:not(:first-child) {
      margin-top: 17px;
    }

    &-header {
      padding: 10px 4px 0;
      font-weight: 900;
      font-size: 38px;
      line-height: 22px;
      margin-bottom: 10px;
      color: $color-white;
      background: $color-primary;
    }

    &-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 17px 22px;

      @include tablet-and-mobile {
        grid-template-columns: repeat(3, 1fr);
      }

      @include mobile {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 640px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  &__more {
    display: flex;
    justify-content: center;
    margin-top: 33px;

    &-button {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: 700;
      font-size: 30px;
      line-height: 30px;
      text-transform: uppercase;
      color: $color-gray-light;
      transition: all 0.2s linear;

      svg {
        width: 52px;
        height: 54px;
        margin-top: 10px;

        path {
          transition: all 0.2s linear;
        }
      }

      &:hover {
        color: $color-primary;

        svg {
          path {
            fill: $color-primary;
          }
        }
      }
    }
  }
}

.select2 {
  &-dropdown {
    z-index: 1051;
    background-color: $color-white;
    border: 1px solid $color-gray-100;
    box-shadow: none;
    max-height: 200px;
    overflow-y: scroll;
    display: block;

    &--above {
      border-bottom: none;
      border-radius: 4px 4px 0 0;
    }

    &--below {
      border-top: none;
      border-radius: 0 0 4px 4px;
    }
  }

  &-results {
    &__option {
      cursor: pointer;
      padding: 6px;
      font-size: 18px;
      line-height: 25px;

      &--highlighted {
        background-color: $color-blue !important;
        color: $color-white !important;
      }

      &[aria-selected=true] {
        background-color: $color-gray-900;
      }
    }
  }
}