<div class="catalog-card">
    <div class="catalog-card__left">
        <div class="catalog-card__image">
            <img src="{{image}}" />
        </div>

        <p class="catalog-card__title">
            {{title}}
        </p>
    </div>

    <div class="catalog-card__right">
        <a class="catalog-card__download" href="{{downloadLink}}" download>
            <img src="../assets/images/download.png" />
        </a>
    </div>
</div>