<div class="contact-card">
    <div class="contact-card__image">
        {{#if image}}<img src="{{image}}" /> {{else}} <img src="../assets/images/user.svg"/> {{/if}}
    </div>

    <h1 class="contact-card__title">
        {{title}}
    </h1>

    <div class="contact-card__subtitle">
        {{{subtitle}}}
    </div>

    <div class="contact-card__info">
        {{{info}}}
    </div>
</div>