<div class="review-card">
    <div class="review-card__left">
        <div class="review-card__left-image">
            <img src="{{image}}" />
        </div>
    </div>
    <div class="review-card__center">
        <h3 class="review-card__center-title">{{{title}}}</h3>
        <div class="review-card__center-text">{{{text}}}</div>

        <div class="review-card__center-downloads">
            <div class="review-card__center-downloads-links">
                <a class="review-card__center-download" href="{{pdfLink}}" download>
                    <img src="../assets/images/download.png" />
                    Download PDF
                </a>

                <a class="review-card__center-download" href="{{powerPointLink}}" download>
                    <img src="../assets/images/download.png" />
                    Download Powerpoint PPT
                </a>
            </div>
        </div>
    </div>
    <div class="review-card__right">
        <div class="review-card__right-user">
            <div class="review-card__right-user-image">
                <img src="{{avatar}}" />
            </div>

            <div class="review-card__right-user-info">
                <span class="review-card__right-user-name">{{name}}</span>
                <br>
                <span class="review-card__right-user-department">{{department}}</span>
                <br>
                <span class="review-card__right-user-date">{{date}}</span>
            </div>
        </div>
    </div>
</div>