// Colors
$color-white: #FFFFFF;
$color-black: #000000;
$color-red: #FF0000;

$color-primary: #d41217;
$color-primary-hover: #d41217;
$color-secondary: #1B74FD;
$color-secondary-hover: darken($color-secondary, 5%);

$color-placeholder: rgba(5, 36, 51, 0.2);
$color-input-border: #DAE4ED;

$color-blue: #5897fb;

$color-gray-light: #ededed;
$color-gray-dark: #707070;
$color-gray-100: #aaa;
$color-gray-200: #495057;
$color-gray-300: #bcbbb8;
$color-gray-400: #e5e5e5;
$color-gray-500: #BFBFBF;
$color-gray-600: #e3e3e3;
$color-gray-700: #e4e4e4;
$color-gray-800: #999;
$color-gray-900: #ddd;