//Container Width
$desktopWidth: 1200px;

//Media query
$tabletMedia: 1259px;
$mobileMedia: 767px;

//Container gutter
$desktopGutter: 30px;
$tabletGutter: 20px;
$mobileGutter: 10px;

//Grid gutter
$gridGutter: 10px;
