<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{{ page-title }}</title>

    <link rel="shortcut icon" href="https://arno.de/typo3conf/ext/template/Resources/Public/Icons/favicon.ico"
          type="image/vnd.microsoft.icon">

    <link rel="stylesheet" href="../css/main.css?v={{cache}}">
    <link rel="stylesheet" href="/assets/fonts/fonts.css?v={{cache}}">
</head>
<body {{#if background}}class="background"{{/if}}>
<div class="page__inner">
