<aside class="sidebar js-toggle">
    <button class="sidebar__burger js-toggle__button">
        <i></i>
    </button>

    {{> components/button-hint icon="buttons/01" hint="WE LIVE QUALITY TOOLING"}}
    {{> components/button-hint icon="buttons/02" hint="Hint 02"}}
    {{> components/button-hint icon="buttons/03" hint="Hint 03"}}
    {{> components/button-hint icon="buttons/04" hint="Hint 04"}}

    <span class="sidebar__title">IHRE ARNO.NOW STARTSEITE</span>

    <div class="sidebar__inner">
        <div class="sidebar__section">
            <span class="sidebar__section-name">WE LIVE QUALITY TOOLING</span>
            <ul class="sidebar__nav">
                <li class="sidebar__nav-item">
                    <a href="#" class="sidebar__nav-link">VISION</a>
                </li>
                <li class="sidebar__nav-item">
                    <a href="#" class="sidebar__nav-link">MISSION</a>
                </li>
                <li class="sidebar__nav-item">
                    <a href="#" class="sidebar__nav-link">WERTE</a>
                </li>
            </ul>
        </div>

        <div class="sidebar__section">
            <span class="sidebar__section-name">ARNO INFORMIERT</span>
            <ul class="sidebar__nav">
                <li class="sidebar__nav-item">
                    <a href="#" class="sidebar__nav-link">ESSENSBESTELLUNG</a>
                </li>
                <li class="sidebar__nav-item">
                    <a href="#" class="sidebar__nav-link">FORMULARE</a>
                </li>
                <li class="sidebar__nav-item sidebar__nav-item--children js-accord">
                    <a href="#" class="sidebar__nav-link js-accord__toggle">DOKUMENTATIONEN</a>
                    <ul class="sidebar__nav-inner js-accord__body">
                        <li class="sidebar__nav-item">
                            <a href="#" class="sidebar__nav-link">DOKUMENTATIONEN 1</a>
                        </li>
                        <li class="sidebar__nav-item">
                            <a href="#" class="sidebar__nav-link">DOKUMENTATIONEN 2</a>
                        </li>
                        <li class="sidebar__nav-item">
                            <a href="#" class="sidebar__nav-link">DOKUMENTATIONEN 3</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="sidebar__section">
            <span class="sidebar__section-name">PRODUKT DOWNLOADS</span>

            <ul class="sidebar__nav">
                <li class="sidebar__nav-item sidebar__nav-item--children js-accord">
                    <a href="#" class="sidebar__nav-link js-accord__toggle">KATALOGE</a>
                    <ul class="sidebar__nav-inner js-accord__body">
                        <li class="sidebar__nav-item">
                            <a href="#" class="sidebar__nav-link">KATALOGE 1</a>
                        </li>
                        <li class="sidebar__nav-item">
                            <a href="#" class="sidebar__nav-link">KATALOGE 2</a>
                        </li>
                        <li class="sidebar__nav-item">
                            <a href="#" class="sidebar__nav-link">KATALOGE 3</a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar__nav-item sidebar__nav-item--children js-accord">
                    <a href="#" class="sidebar__nav-link js-accord__toggle">PRODUKTINFORMATIONEN</a>
                    <ul class="sidebar__nav-inner js-accord__body">
                        <li class="sidebar__nav-item">
                            <a href="#" class="sidebar__nav-link">PRODUKTINFORMATIONEN 1</a>
                        </li>
                        <li class="sidebar__nav-item">
                            <a href="#" class="sidebar__nav-link">PRODUKTINFORMATIONEN 2</a>
                        </li>
                        <li class="sidebar__nav-item">
                            <a href="#" class="sidebar__nav-link">PRODUKTINFORMATIONEN 3</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="sidebar__section">
            <span class="sidebar__section-name">ARNO INSIDES</span>


            <ul class="sidebar__nav">
                <li class="sidebar__nav-item sidebar__nav-item--children js-accord">
                    <a href="#" class="sidebar__nav-link js-accord__toggle">SUCESS-STORIES</a>
                    <ul class="sidebar__nav-inner js-accord__body">
                        <li class="sidebar__nav-item">
                            <a href="#" class="sidebar__nav-link">SUCESS-STORIES 1</a>
                        </li>
                        <li class="sidebar__nav-item">
                            <a href="#" class="sidebar__nav-link">SUCESS-STORIES 2</a>
                        </li>
                        <li class="sidebar__nav-item">
                            <a href="#" class="sidebar__nav-link">SUCESS-STORIES 3</a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar__nav-item sidebar__nav-item--children js-accord">
                    <a href="#" class="sidebar__nav-link js-accord__toggle">TIPS UND TRICKS</a>
                    <ul class="sidebar__nav-inner js-accord__body">
                        <li class="sidebar__nav-item">
                            <a href="#" class="sidebar__nav-link">TIPS UND TRICKS 1</a>
                        </li>
                        <li class="sidebar__nav-item">
                            <a href="#" class="sidebar__nav-link">TIPS UND TRICKS 2</a>
                        </li>
                        <li class="sidebar__nav-item">
                            <a href="#" class="sidebar__nav-link">TIPS UND TRICKS 3</a>
                        </li>
                    </ul>
                </li>


                <li class="sidebar__nav-item sidebar__nav-item--children js-accord">
                    <a href="#" class="sidebar__nav-link js-accord__toggle">SONDERLÖSUNG ATS</a>
                    <ul class="sidebar__nav-inner js-accord__body">
                        <li class="sidebar__nav-item">
                            <a href="#" class="sidebar__nav-link">SONDERLÖSUNG ATS 1</a>
                        </li>
                        <li class="sidebar__nav-item">
                            <a href="#" class="sidebar__nav-link">SONDERLÖSUNG ATS 2</a>
                        </li>
                        <li class="sidebar__nav-item">
                            <a href="#" class="sidebar__nav-link">SONDERLÖSUNG ATS 3</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</aside>