<a href="{{#if link}}{{link}}{{else}}#{{/if}}" class="button-hint">
    <img src="../assets/images/{{icon}}.svg" alt="{{ hint }}">
    {{#if hint}}<span class="button-hint__hint">{{ hint }}</span>{{/if}}
</a>