<section class="map">
    <div class="map__left">
        <div id="js-map" class="map__left-container">

        </div>
    </div>

    <div class="map__right">
        <h2 class="map__right-title">Herausr<em>a</em>gender<br>Service inklusive</h2>
        <p class="map__right-subtitle">Sie haben Fragen? Wenden Sie sich an Ihren persönlichen ARNO-Ansprechpartner oder einfach:</p>
        <a class="map__right-link" href="#"><img src="../assets/images/arrow-right.svg" /> Jetzt schreiben</a>
        <p class="map__right-phone">Oder anrufen: +49 (0) 711 34 802-0</p>
        <ul class="map__right-address">
            <li><strong>Karl-Heinz Arnold GmbH</strong></li>
            <li>Karlsbader Straße 4</li>
            <li>D-73760 Ostfildern</li>
        </ul>
    </div>
</section>