{{!Dashboard Setup}}
{{> layout/head page-title="Index" background=true}}
{{> layout/header }}

<div class="dashboard dashboard--setup">
    {{#> blocks/widget title="NEU AUF NOW.ARNO.DE" link="ZU ALLEN NEUIGKEITEN >>>"}}
        <span class="dummy">LISTE WIE BISHER</span>
    {{/blocks/widget}}

    {{#> blocks/widget title="LETZTER EINTRAG // ARNO NEWS FEED" link="ZUM NEWS FEED >>>"}}
        {{> pages/home/newsfeed }}
    {{/blocks/widget}}
</div>

<div class="dashboard__button">
    <a href="./modals.html" class="btn">DASHBOARD EINRICHTEN</a>
</div>

{{> layout/footer }}
