{{!Dashboard}}
{{> layout/head page-title="Index" background=true}}
{{> layout/header }}

<div class="dashboard">
    {{#> blocks/widget title="NEU AUF NOW.ARNO.DE" link="ZU ALLEN NEUIGKEITEN >>>"}}
        <span class="dummy">LISTE WIE BISHER</span>
    {{/blocks/widget}}

    {{#> blocks/widget title="LETZTER EINTRAG // ARNO NEWS FEED" link="ZUM NEWS FEED >>>"}}
        {{> pages/home/newsfeed }}
    {{/blocks/widget}}

    {{#> blocks/widget title="KALENDER 2022" link="ZUM GESAMTEN KALENDER >>>"}}
        {{> pages/home/calendar }}
    {{/blocks/widget}}

    {{#> blocks/widget title="RUND UM UNSERE MITARBEITER*INNEN" link="MEHR ÜBER IHRE KOLLEG*INNEN >>>"}}
        <span class="dummy">
            JUBILÄUM, GEBURTSTAG, NEU BEI ARNO ETC.
        </span>
    {{/blocks/widget}}
</div>

{{> layout/footer }}
