<div>
    {{# times 2}}
        <div class="page-calendar__group">
            <div class="page-calendar__item">
                {{> widgets/event-card type="event"
                        day="MO" number="09"
                        name="MESSE XY"
                        place="STADT // LAND"
                        type-label="EVENT"
                        text="Eventueller Kurztext wenn nötig. zur Erklärung der Messeschwerpunkte oder Zielgruppe"
                        time="GANZTÄGIG"
                        with-link=true
                }}

                <div class="page-calendar__item-month">
                    <span class="page-calendar__item-name">MONAT 2022</span>
                    <div class="page-calendar__item-week">
                        KW31
                        <div></div>
                    </div>
                </div>
            </div>

            <div class="page-calendar__item">
                {{> widgets/event-card type="arno"
                        day="MO" number="09"
                        name="MAXIMILIAN MUSTERMANN"
                        place="STANDORT // LAND"
                        type-label="ARNO"
                        text="Herzlichen Glückwunsch zum <b>44 GEBURTSTAG!</b><br/>Das gesamte ARNO Team gratuliert."
                        time="13:00 BIS 17:00 UHR"
                }}
            </div>

            <div class="page-calendar__item">
                {{> widgets/event-card type="event"
                        day="DI" number="10"
                        name="MESSE XY"
                        place="STADT // LAND"
                        type-label="EVENT"
                        text="Eventueller Kurztext wenn nötig. zur Erklärung der Messeschwerpunkte oder Zielgruppe"
                        time="GANZTÄGIG"
                        with-link=true
                }}
            </div>

            <div class="page-calendar__item">
                {{> widgets/event-card type="event"
                        day="MI" number="11"
                        name="MESSE XY"
                        place="STADT // LAND"
                        type-label="EVENT"
                        text="Eventueller Kurztext wenn nötig. zur Erklärung der Messeschwerpunkte oder Zielgruppe"
                        time="GANZTÄGIG"
                        with-link=true
                }}
            </div>
        </div>

        <div class="page-calendar__group">
            <div class="page-calendar__item">
                {{> widgets/event-card type="primary"
                        day="MO" number="22"
                        name="INHOUSE-VERANSTALTUNG"
                        place="STANDORT // LAND"
                        type-label="EVENT"
                        text="Eventueller Kurztext wenn nötig. zur Erklärung der Messeschwerpunkte oder Zielgruppe"
                        time="13:00 BIS 17:00 UHR"
                        with-link=true
                }}

                <div class="page-calendar__item-month">
                    <div class="page-calendar__item-week">
                        KW32
                        <div></div>
                    </div>
                </div>
            </div>

            <div class="page-calendar__item">
                {{> widgets/event-card type="gray"
                        day="MO" number="22"
                        name="INHOUSE-VERANSTALTUNG"
                        place="STANDORT // LAND"
                        type-label="ARNO"
                        text="Herzlichen Glückwunsch zum <b>25-JÄHRIGEN JUBILÄUM!</b><br/>Das gesamte ARNO Team gratuliert."
                        time="GANZTÄGIG"
                }}
            </div>

            <div class="page-calendar__item">
                {{> widgets/event-card type="disabled"
                        day="FR" number="27"
                        name="INHOUSE-VERANSTALTUNG"
                        place="STANDORT // LAND"
                        type-label="ARNO"
                        text="Eventueller Kurztext wenn nötig. zur Erklärung der Maßnahme"
                        time="GANZTÄGIG"
                }}
            </div>

            <div class="page-calendar__item">
                {{> widgets/event-card type="online"
                        day="FR" number="27"
                        name="INHOUSE-VERANSTALTUNG"
                        place="STANDORT // LAND"
                        type-label="ARNO"
                        text="Eventueller Kurztext wenn nötig. zur Erklärung der Maßnahme"
                        time="GANZTÄGIG"
                }}
            </div>
        </div>
    {{/times}}
</div>