<div class="catalog">
    <div class="catalog__header">
        Kataloge
    </div>

    <div class="catalog__list">
        <div class="catalog__list-item">
            <div class="catalog__list-title">
                Kataloge und Ergänzungen
            </div>

            <div class="catalog__list-card">
                {{> widgets/catalog-card
                        image="https://now.arno.de/typo3temp/assets/_processed_/d/c/csm_vhs-pdf-Katalog_VHM_DEU-ENG-FRZ_2021-1-1634113323_d34ec0f814.png"
                        title="Katalog VHM- und PM-HSS zum Fräsen und Bohren"
                        downloadLink="#"
                }}
            </div>

            <div class="catalog__list-card">
                {{> widgets/catalog-card
                        image="https://now.arno.de/typo3temp/assets/_processed_/d/c/csm_vhs-pdf-Katalog_VHM_DEU-ENG-FRZ_2021-1-1634113323_d34ec0f814.png"
                        title="Katalog VHM- und PM-HSS zum Fräsen und Bohren"
                        downloadLink="#"
                }}
            </div>

            <div class="catalog__list-card">
                {{> widgets/catalog-card
                        image="https://now.arno.de/typo3temp/assets/_processed_/d/c/csm_vhs-pdf-Katalog_VHM_DEU-ENG-FRZ_2021-1-1634113323_d34ec0f814.png"
                        title="Katalog VHM- und PM-HSS zum Fräsen und Bohren"
                        downloadLink="#"
                }}
            </div>

            <div class="catalog__list-card">
                {{> widgets/catalog-card
                        image="https://now.arno.de/typo3temp/assets/_processed_/d/c/csm_vhs-pdf-Katalog_VHM_DEU-ENG-FRZ_2021-1-1634113323_d34ec0f814.png"
                        title="Katalog VHM- und PM-HSS zum Fräsen und Bohren"
                        downloadLink="#"
                }}
            </div>

            <div class="catalog__list-card">
                {{> widgets/catalog-card
                        image="https://now.arno.de/typo3temp/assets/_processed_/d/c/csm_vhs-pdf-Katalog_VHM_DEU-ENG-FRZ_2021-1-1634113323_d34ec0f814.png"
                        title="Katalog VHM- und PM-HSS zum Fräsen und Bohren"
                        downloadLink="#"
                }}
            </div>

            <div class="catalog__list-card">
                {{> widgets/catalog-card
                        image="https://now.arno.de/typo3temp/assets/_processed_/d/c/csm_vhs-pdf-Katalog_VHM_DEU-ENG-FRZ_2021-1-1634113323_d34ec0f814.png"
                        title="Katalog VHM- und PM-HSS zum Fräsen und Bohren"
                        downloadLink="#"
                }}
            </div>
        </div>
    </div>
</div>