<div class="for-success">
    <div class="for-success__intro">
        <div class="for-success__intro-image">
            <img src="../assets/images/success.jpeg"/>
        </div>

        <div class="for-success__intro-content">
            <h1>Nichts überzeugt mehr als Erfolg</h1>
            <p>
                Unsere Kunden schreiben regelmäßig Erfolgsgeschichten und unsere
                Werkzeuge sind oft Teil dieser Geschichten. Erfahren Sie hier, welche
                Vorteile unsere Kunden nutzen, indem Sie Werkzeuge von ARNO in der täglichen Fertigungspraxis einsetzen.
                Lesen Sie kurz und knapp alles Wichtige über bessere Werte bei technischen Parametern, lange Standzeiten,
                hohe Vorschubgeschwindigkeiten und manches mehr. Gewinnen Sie einen Eindruck, wie ARNO auch Ihre Fertigung
                noch erfolgreicher machen kann.
            </p>
        </div>
    </div>

    <div class="for-success__main">
        <div class="for-success__filters">
            <div class="for-success__filter">
                <h4 class="for-success__filter-title">
                    Anwendungsfelder
                </h4>

                <select class="for-success__filter-select">
                    <option>Alle</option>
                    <option>Ein- und Abstechen</option>
                    <option>Drehen & Gewindedrehen</option>
                    <option>VHM</option>
                    <option>Langdrehen</option>
                    <option>Bohren</option>
                    <option>Fräsen</option>
                </select>
            </div>

            <div class="for-success__filter">
                <h4 class="for-success__filter-title">
                    Werkzeug-Systeme
                </h4>

                <select class="for-success__filter-select">
                    <option>Alle</option>
                </select>
            </div>
        </div>

        <div class="for-success__cards">
            <div class="for-success__card">
                {{> widgets/review-card
                        image="https://now.arno.de/fileadmin/_processed_/8/0/csm_ARNO_now_Inside-E-Motorgehaeuse_ef4a160878.jpg"
                        title="<span>Hochpositive Wendeschneidplatten</span>:
                        Zeit für Innenbearbeitung um mehr als 25 % pro Bauteil reduziert
                        "
                        text="<p>Die Wendeschneidplatten von ARNO steigern die Fertigungseffizienz, weil sie im Vergleich zum
                        Wettbewerber einen höheren Vorschub erlauben. Dadurch konnte die Bearbeitungszeit für eine Innenkontur in einem
                        E-Motorgehäuses um mehr als 25 % vermindert werden. Trotz des höheren Vorschubs wurden die Vorgaben an die Oberflächengüte sicher erfüllt.
                        Zusätzlich unterstützte die hervorragende Spanbildung einen prozesssicheren, automatisierten Maschinenbetrieb.</p>"
                        pdfLink="#"
                        powerPointLink="#"
                        avatar="https://now.arno.de/fileadmin/users/user-icon.svg"
                        name="Thomas Bach"
                        department="Anwendungstechnik"
                        date="23.06.2022"
                }}
            </div>

            <div class="for-success__card">
                {{> widgets/review-card
                        image="https://now.arno.de/fileadmin/_processed_/8/0/csm_ARNO_now_Inside-E-Motorgehaeuse_ef4a160878.jpg"
                        title="<span>Hochpositive Wendeschneidplatten</span>:
                        Zeit für Innenbearbeitung um mehr als 25 % pro Bauteil reduziert
                        "
                        text="<p>Die Wendeschneidplatten von ARNO steigern die Fertigungseffizienz, weil sie im Vergleich zum
                        Wettbewerber einen höheren Vorschub erlauben. Dadurch konnte die Bearbeitungszeit für eine Innenkontur in einem
                        E-Motorgehäuses um mehr als 25 % vermindert werden. Trotz des höheren Vorschubs wurden die Vorgaben an die Oberflächengüte sicher erfüllt.
                        Zusätzlich unterstützte die hervorragende Spanbildung einen prozesssicheren, automatisierten Maschinenbetrieb.</p>"
                        pdfLink="#"
                        powerPointLink="#"
                        avatar="https://now.arno.de/fileadmin/users/user-icon.svg"
                        name="Thomas Bach"
                        department="Anwendungstechnik"
                        date="23.06.2022"
                }}
            </div>

            <div class="for-success__card">
                {{> widgets/review-card
                        image="https://now.arno.de/fileadmin/_processed_/8/0/csm_ARNO_now_Inside-E-Motorgehaeuse_ef4a160878.jpg"
                        title="<span>Hochpositive Wendeschneidplatten</span>:
                        Zeit für Innenbearbeitung um mehr als 25 % pro Bauteil reduziert
                        "
                        text="<p>Die Wendeschneidplatten von ARNO steigern die Fertigungseffizienz, weil sie im Vergleich zum
                        Wettbewerber einen höheren Vorschub erlauben. Dadurch konnte die Bearbeitungszeit für eine Innenkontur in einem
                        E-Motorgehäuses um mehr als 25 % vermindert werden. Trotz des höheren Vorschubs wurden die Vorgaben an die Oberflächengüte sicher erfüllt.
                        Zusätzlich unterstützte die hervorragende Spanbildung einen prozesssicheren, automatisierten Maschinenbetrieb.</p>"
                        pdfLink="#"
                        powerPointLink="#"
                        avatar="https://now.arno.de/fileadmin/users/user-icon.svg"
                        name="Thomas Bach"
                        department="Anwendungstechnik"
                        date="23.06.2022"
                }}
            </div>
        </div>
    </div>
</div>