@mixin font($size, $line-height: '100%', $weight: 400, $color: inherit) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
  color: $color;
}

@mixin font-mixin($font_name) {
  font-family: #{$font_name};
}

@mixin light() {
  font-weight: 300;
}

@mixin regular() {
  font-weight: 400;
}

@mixin medium() {
  font-weight: 500;
}

@mixin semibold() {
  font-weight: 600;
}

@mixin bold() {
  font-weight: 700;
}

@mixin black() {
  font-weight: 900;
}
