<div class="who-is-who">
    <div class="who-is-who__fields">
        <div class="who-is-who__field">
            <span class="who-is-who__field-title">
                Abteilung:
            </span>

            <select class="who-is-who__field-select js-multiple-select" name="states[]" multiple="multiple">
                <option value="Angebotsabteilung">Angebotsabteilung</option>
                <option value="Anwendungstechnik">Anwendungstechnik</option>
                <option value="Arbeitsvorbereitung">Arbeitsvorbereitung</option>
                <option value="Auszubildende">Auszubildende</option>
            </select>
        </div>

        <div class="who-is-who__field">
            <span class="who-is-who__field-title">
                Standort:
            </span>

            <select class="who-is-who__field-select js-multiple-select" name="states[]" multiple="multiple">
                <option value="Außendienst">Außendienst</option>
                <option value="England">England</option>
                <option value="Frankreich">Frankreich</option>
                <option value="Hamburg">Hamburg</option>
            </select>
        </div>

        <div class="who-is-who__field">
            <span class="who-is-who__field-title">
                Suche:
            </span>

            <input class="who-is-who__field-input" />
        </div>
    </div>

    <div class="who-is-who__contacts">
        <div class="who-is-who__contact">
            <div class="who-is-who__contact-header">
                A
            </div>
            <div class="who-is-who__contact-list">
                {{> widgets/contact-card
                        title="Matteo Abbiati"
                        subtitle="
                        <p>Abteilung: Vertrieb</p>
                        <p>Vorgesetzter: Paolo Cattenati</p>
                        "
                        info="
                        <p>Durchwahl: <a href='tel:+393929542494'>+393929542494</a></p>
                        <p>E-Mail: <a href='mailto:mabbiati@arno-italia.it'>mabbiati@arno-italia.it</a></p>
                        <p>Standort: Italien</p>
                        "
                }}

                {{> widgets/contact-card
                        title="Matteo Abbiati"
                        subtitle="
                        <p>Abteilung: Vertrieb</p>
                        <p>Vorgesetzter: Paolo Cattenati</p>
                        "
                        info="
                        <p>Durchwahl: <a href='tel:+393929542494'>+393929542494</a></p>
                        <p>E-Mail: <a href='mailto:mabbiati@arno-italia.it'>mabbiati@arno-italia.it</a></p>
                        <p>Standort: Italien</p>
                        "
                }}

                {{> widgets/contact-card
                        title="Matteo Abbiati"
                        subtitle="
                        <p>Abteilung: Vertrieb</p>
                        <p>Vorgesetzter: Paolo Cattenati</p>
                        "
                        info="
                        <p>Durchwahl: <a href='tel:+393929542494'>+393929542494</a></p>
                        <p>E-Mail: <a href='mailto:mabbiati@arno-italia.it'>mabbiati@arno-italia.it</a></p>
                        <p>Standort: Italien</p>
                        "
                }}

                {{> widgets/contact-card
                        image="https://now.arno.de/fileadmin/users/Foto_Albano_D.jpg"
                        title="Matteo Abbiati"
                        subtitle="
                        <p>Abteilung: Vertrieb</p>
                        <p>Vorgesetzter: Paolo Cattenati</p>
                        "
                        info="
                        <p>Durchwahl: <a href='tel:+393929542494'>+393929542494</a></p>
                        <p>E-Mail: <a href='mailto:mabbiati@arno-italia.it'>mabbiati@arno-italia.it</a></p>
                        <p>Standort: Italien</p>
                        "
                }}
            </div>
        </div>
    </div>

    <div class="who-is-who__more">
        <button class="who-is-who__more-button">
            Weitere Laden
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 17 18" enable-background="new 0 0 17 18" xml:space="preserve">
                 <path fill="#ededed" d="M8.5,13.4L0,8.8v4.4l8.5,4.6l8.5-4.6V8.8L8.5,13.4z M17,0.1L8.5,4.7L0,0.1v4.4l8.5,4.6L17,4.5V0.1z"/>
            </svg>
        </button>
    </div>
</div>