.form-select {

  .select2 {
    width: 100% !important;
    display: block;

    .selection {
      width: 100%;
      display: block;
    }

    &-selection {
      width: 100%;
      display: block;

      &__arrow {
        display: none;
      }
    }

    &-selection__rendered {
      width: 100%;
      display: flex;
      align-items: center;
      background: #FFFFFF;
      border: 1px solid $color-input-border;
      box-sizing: border-box;
      border-radius: 8px;
      height: 44px;
      line-height: 44px;
      padding: 0 10px;
      font-size: 14px;
      position: relative;
      color: $color-placeholder;

      &:after {
        content: '';
        @include sprite('select2-arrow');
        right: 10px;
        @include align(false, true);
      }
    }

    &-container--open {
      .select2-selection__rendered {
        border-color: $color-primary;
        border-radius: 8px 8px 0 0;

        &:after {
          @include sprite('select2-arrow-active');
          transform: rotate(180deg) translateY(50%);
          margin-top: -1px;
        }
      }

      &.select2-container--above .select2-selection__rendered {
        border-radius: 0 0 8px 8px;
      }
    }
  }

  &.selected .select2 .select2-selection__rendered {
    color: #000;
  }
}


.form-select.mobile {
  position: relative;

  &:after {
    content: '';
    @include sprite('select2-arrow');
    right: 16px;
    @include align(false, true);
  }

  select {
    appearance: none;
    width: 100%;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid $color-input-border;
    box-sizing: border-box;
    border-radius: 8px;
    height: 44px;
    line-height: 44px;
    padding: 0 16px;
    font-weight: 400;
    font-size: 14px;
    position: relative;

    &:focus {
      border-color: $color-primary;
    }
  }

  .select-placeholder {
    position: absolute;
    left: 5px;
    top: 4px;
    bottom: 4px;
    right: 20px;
    background: $color-white;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 14px;
    pointer-events: none;
  }

  &.selected {
    .select-placeholder {
      display: none;
    }

    select {
      color: $color-black;
    }
  }

  &.focus {
    select {
      border-color: $color-primary;
    }

    &:after {
      @include sprite('select2-arrow-active');
      transform: rotate(180deg) translateY(50%);
      margin-top: -1px;
    }
  }
}
