{{> widgets/event-card type="event"
day="MO" number="09"
        name="MESSE XY"
        place="STADT // LAND"
        type-label="EVENT"
        with-link=true
}}

{{> widgets/event-card type="arno"
        day="MO" number="09"
        name="MAXIMILIAN MUSTERMANN"
        place="STANDORT // LAND"
        type-label="ARNO"
}}