<div class="newsfeed">
    <div class="newsfeed__author">
        <div class="newsfeed__avatar">

        </div>
        <div class="newsfeed__content">
            <span class="newsfeed__name">MAXIMILIAN MUSTERMANN</span>
            <span class="newsfeed__position">MUSTERABTEILUNG </span>
            <span class="newsfeed__date">DATE</span>
        </div>
    </div>
    <span class="newsfeed__title">TITEL BEITRAG</span>
    <div class="newsfeed__text">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
        consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
        diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
    </div>
    <div class="newsfeed__actions">
        <a href="#" class="newsfeed__action newsfeed__action--thumb">0</a>
        <a href="#" class="newsfeed__action newsfeed__action--comment">KOMMENTIEREN</a>
    </div>
</div>
