.header {
  background: #fff;
  padding: 50px 25px 0 90px;
  position: relative;

  @include tablet-and-mobile {
    padding: 48px 13px 23px;
  }

  &__top {
    display: flex;
    justify-content: space-between;

    @include placeholder {
      align-items: center;
    }
  }

  &__logo {
    width: 190px;
  }

  &__search {
    position: relative;
    height: 100%;

    @include tablet-and-mobile {
      display: none;
    }

    &:before{
      content: '';
      position: absolute;
      left: 15px;
      @include align(false, true);
      @include sprite('search');
    }

    &-input {
      border: 1px solid $color-primary;
      border-radius: 4px;
      background: #fff;
      width: 335px;
      height: 45px;
      display: block;
      font-size: 14px;
      line-height: 22px;
      font-weight: bold;
      padding: 0 30px 0 50px;

      @include tablet-and-mobile {
        width: 100%;
      }

      @include placeholder {
        color: $color-gray-dark;
      }
    }

    &.mobile {
      display: block;
      flex: 1 1 488px;
      max-width: 488px;
    }
  }

  &__center {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 1px;
    margin-right: 50px;

    @include tablet-and-mobile {
      flex: auto;
      justify-content: flex-start;
      margin-right: 20px;
    }
  }

  &__profile {

  }

  &__middle {
    margin-top: 30px;
    display: flex;
    align-items: center;

    @include tablet-and-mobile {
      margin-top: 20px;
    }

    > * {
      margin-left: 5px;

      @include tablet-and-mobile {
        margin-left: 10px;
      }

      &:first-child {
        margin-left: 0;
      }
    }

    &-bottom {
      display: none;

      @include tablet-and-mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 18px;
      }
    }
  }

  &__current {
    font-size: 14px;
    font-weight: bold;
    color: $color-gray-dark;

    @include tablet-and-mobile {
      display: none;
    }
  }

  &__bottom {
    margin-top: 40px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);

    @include tablet-and-mobile {
      margin-top: 36px;
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile640 {
      grid-template-columns: repeat(1, 1fr);
      gap: 15px;
    }
  }

  &__article {
    display: block;
    @include font(14px, 24px, bold);
  }
}

.sidebar-wrapper {
  @include tablet-and-mobile {
    display: none;

    &.mobile {
      display: block;
      margin-left: 30px;
    }
  }
}