.main {
  padding: 25px 25px 25px 90px;
  position: relative;

  @include tablet-and-mobile {
    padding: 12px 13px 26px;
  }

  &:before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100px;
    background: #fff;
    z-index: -1;
  }
}