.sidebar {
  background: $color-white;
  background: #ededed;
  width: 15px + 15px + 36px;
  position: fixed;
  left: 0;
  top: 25px;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  @include transition;
  padding: 100px 0 0;

  @include tablet-and-mobile {
    position: initial;
    width: 34px;
    height: 21px;
    padding: 0;
    background: $color-white;
    transition: none;
  }

  &:not(._opened) > * {
    display: none;
  }

  &._opened {
    overflow: hidden;
    width: 260px;

    @include tablet-and-mobile {
      position: fixed;
      width: 100%;
      height: 100%;
      padding: 100px 0 0;
      background: #ededed;
    }

    .button-hint {
      display: none;
    }
  }

  &__burger {
    width: 34px;
    height: 21px;
    margin: 25px auto 90px;
    position: absolute;
    display: block !important;
    top: 0;
    right: 15px;

    @include tablet-and-mobile {
      position: initial;
      width: 100%;
      height: 100%;
      margin: 0;
    }

    i {
      height: 3px;
      background: $color-gray-dark;
      transition: all .25s ease-in-out;
      width: 34px;
      display: block;
      position: relative;
      margin: 6px 0;

      &:before, &:after {
        content: '';
        height: 3px;
        background: $color-gray-dark;
        border-radius: 50px;
        position: absolute;
        transition: all .25s ease-in-out;
        left: 0;
        right: 0;
      }

      &:before {
        top: -9px;
      }

      &:after {
        bottom: -9px;
      }
    }

    .sidebar._opened & {
      @include tablet-and-mobile {
        width: 34px;
        height: 21px;
        margin: 25px auto 90px;
        position: absolute;
        top: 0;
        right: 15px;
      }

      i {
        background: transparent;

        &:before {
          transform: translate(1px, 9px) rotate(-45deg);
          background: $color-gray-dark;
        }

        &:after {
          transform: translate(1px, -9px) rotate(45deg);
          background: $color-gray-dark;
        }
      }
    }
  }

  .button-hint {
    margin: 5px 15px;
    display: block;

    @include tablet-and-mobile {
      display: none;
    }
  }

  &__title {
    @include font(14px, 22px, bold);
    color: $color-primary;
    padding: 0 15px;
    min-width: 260px;
  }

  &__section {
    margin-top: 25px;
    width: 100%;

    &:first-child {
      margin-top: 0;
    }

    &-name {
      @include font(14px, 22px, bold);
      padding-bottom: 8px;
      display: block;
      border-bottom: 1px solid $color-primary;
    }
  }

  &__nav {
    &-inner {

      display: none;

      .opened & {
        display: block;
      }

      &.animate {
        position: relative;
        display: block;
        height: 0;
        overflow: hidden;
        transition: height .32s ease;
      }
    }

    &-item {
      border-top: 1px solid $color-gray-dark;

      &:first-child {
        border-top: 0 none;
      }

      &:last-child {
        border-bottom: 1px solid $color-gray-dark;
      }

      &--children {
        border-top-color: $color-primary;
        border-bottom-color: $color-primary;

        + .sidebar__nav-item--children {
          border-top: 0;
        }

        &:last-child {
          border-bottom: transparent;
          > .sidebar__nav-inner > .sidebar__nav-item:last-child{
            border-bottom: 1px solid $color-gray-dark !important;
          }
        }

        &.opened > .sidebar__nav-link:after {
          transform: translateY(-50%) rotate(180deg);
        }

        > .sidebar__nav-link {
          display: block;
          position: relative;
          color: $color-primary;
          border-bottom: 1px solid $color-primary;

          &:after {
            content: '';
            right: 5px;
            @include transition;
            @include align(false, true);
            @include triangle(15px, down, $color-primary);
          }
        }
      }
    }

    &-link {
      @include font(14px, 22px, bold, $color-gray-dark);
      padding: 4px 0;
      display: inline-block;
      white-space: nowrap;

      @include transition;

      &:hover {
        opacity: 0.85;
      }

      + .sidebar__nav-inner {
        .sidebar__nav-link {
          padding-left: 15px;
        }

        .sidebar__nav-item:last-child {
          border-bottom: 0 none;
        }
      }
    }
  }

  &__inner {
    min-width: 260px;
    @include custom-scrollbar($color-gray-dark);
    width: 100%;
    padding: 0 15px 20px;
    margin-top: 40px;
  }
}