.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 8px;
  line-height: 100%;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  appearance: none;
  cursor: pointer;
  border: 1px solid $color-white;
  background: transparent;
  color: $color-white;

  @include transition;
  &:hover {
    background: $color-white;
    border-color: $color-white;
    color: $color-primary;
  }
}
