.map {
  display: flex;
  min-height: 600px;
  margin-top: 120px;
  background: $color-gray-600;

  @include mobile {
    flex-direction: column;
    min-height: auto;
  }

  &__left {
    flex: 1 1 50%;
    max-width: 50%;

    &-container {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
    }

    @include mobile {
      flex: auto;
      max-width: 100%;
      height: 300px;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 25px 0 25px 78px;
    flex: 1 1 50%;
    max-width: 600px;

    @include tablet-and-mobile {
      padding: 25px 15px 25px 20px;
    }

    @include mobile {
      flex: auto;
      max-width: 100%;
      padding: 50px 15px;
      justify-content: flex-start;
    }

    &-title {
      font-weight: 900;
      font-size: 45px;
      line-height: 50px;
      text-transform: uppercase;

      @include mobile {
        font-size: 35px;
        line-height: 40px;
      }

      em {
        font-style: normal;
        color: $color-primary;
      }
    }

    &-subtitle {
      font-size: 16px;
      line-height: 1.65;
      margin-top: 21px;
    }

    &-link {
      display: flex;
      align-items: center;
      font-weight: 900;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      margin-top: 34px;
      color: $color-primary;

      &:hover {
        text-decoration: underline;
      }

      img {
        width: 26px;
        height: 22px;
        margin-right: 8px;
      }
    }

    &-phone {
      font-size: 16px;
      line-height: 1.65;
      margin-top: 10px;
    }

    &-address {
      margin-top: 25px;

      li {
        font-size: 18px;
        line-height: 25px;

        strong {
          font-weight: 700;
        }
      }
    }
  }
}